<div class="contents_image2">
  <% @pictures.reverse_each do |picture| %>
    <div class="contents_image3">
      <%= link_to picture_path(picture.id) do %>
        <%= image_tag picture.image.url, size: 200, class: "img-responsive" %>
      <% end %>
    </div>
  <% end %>
</div>
